.line {
    min-width: 100%;
    display: flex;
    transform-style: preserve-3d;
}

.wall--front .line {
    justify-content: center;
}

.walls--front-left .wall--front .line {
    justify-content: flex-end;
}

.walls--front-right .wall--front .line {
    justify-content: flex-start;
}

.wall--left .line {
    justify-content: flex-start;
}

.wall--right .line {
    right: 0;
    justify-content: flex-end;
}

.line--bottom {
    bottom: 0;
}
