HTML, BODY {
    height: 100%;
}

BODY {
    margin: 0;
    font: 16px/1.75 Trebuchet Ms, Arial, sans-serif;
    color: black;
}

H2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
}

IMG {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

.page {
    perspective: 1500px;
    perspective-origin: center -100px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper {
    /*outline: 2px solid red;*/
    margin: auto;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
}

.content {
    margin: 0 32px;
    flex-shrink: 0;
    flex-grow: 1;
    /*outline: 1px solid green;*/
}

.aside {
    /*outline: 1px solid red;*/
}

.aside--sizes {
    display: none;
}


/* Walls
------------------------------ */
.walls {
    position: relative;
    padding: 0;
    flex-shrink: 0;
    transform-style: preserve-3d;
    transform: rotateY(25deg);
}

.walls--front-left {
    left: 50%;
    transform-origin: left;
    transform: rotateY(-45deg);
}

.walls--front-right {
    right: 50%;
    transform-origin: right;
    transform: rotateY(45deg);
}


/* Wall
------------------------------ */
.wall {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.wall--front {
    /*outline: 1px solid red;*/
}

.wall--left {
    transform-origin: left;

    /*outline: 1px solid green;*/
}

.wall--right {
    right: 0;
    transform-origin: right;

    /*outline: 1px solid blue;*/
}


/* Line
------------------------------ */
.line {
    position: absolute;
    width: 100%;
    display: flex;
}

.wall--front .line {
    justify-content: center;
}

.walls--front-left .wall--front .line {
    justify-content: flex-end;
}

.walls--front-right .wall--front .line {
    justify-content: flex-start;
}

.wall--left .line {
    justify-content: flex-start;
}

.wall--right .line {
    justify-content: flex-end;
}

.line--bottom {
    bottom: 0;
}

.wall--right .line {
    right: 0;
}


/* Block
------------------------------ */
.block {
    display: flex;
    transform-style: preserve-3d;
}


/* Surface
------------------------------ */
.surface {
    position: absolute;
    transform-style: preserve-3d;
    background-color: hsla(0, 0%, 100%, .35);
    background-size: auto 100%;
    background-position: center center;
    border: 1px solid rgba(0,0,0,.5);
    box-sizing: border-box;
}

.surface--front {
    position: relative;
    width: 100%;
    cursor: pointer;
}

.surface--front:hover {
    background: hsla(50, 100%, 60%, .5);
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='200 200 200 200'%3E%3Cpolygon fill='black' fill-opacity='.25' points='320 280 320 200 280 200 280 280 200 280 200 320 280 320 280 400 320 400 320 320 400 320 400 280'%3E%3C/polygon%3E%3C/svg%3E");
    background-position: 50% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.surface--top {
    width: 100%;
    transform: rotateX(-90deg);
    transform-origin: top;
}

.surface--bottom {
    width: 100%;
    bottom: 0;
    left: 0;
    transform: rotateX(90deg);
    transform-origin: bottom;
}

.surface--side {
    transform-style: preserve-3d;
}

.surface--side-left {
    left: 0;
    transform-origin: left;
    transform: rotateY(90deg);
}

.surface--side-right {
    right: 0;
    transform-origin: right;
    transform: rotateY(-90deg);
}

.walls--front-left-right .wall--front .surface--side::before,
.walls--front-left-right .wall--front .surface--side::after {
    content: "";
    position: absolute;
    background-color: hsla(0, 0%, 100%, .35);
    border: 1px solid rgba(0,0,0,.5);
    width: 100%;
    padding-top: 100%;
}

.walls--front-left-right .wall--front .surface--side::before {
    top: 0;
    transform-origin: top;
    transform: rotateX(-90deg);
}

.walls--front-left-right .wall--front .surface--side::after {
    bottom: 0;
    transform-origin: bottom;
    transform: rotateX(90deg);
}


.surface__size {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    font-size: 12px;
    text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white;
    cursor: pointer;
    transition: background .25s;
}

.surface__size:hover {
    background: rgba(0,0,0,.25);
}

.surface__size--vertical {
   top: 0;
   bottom: 0;
   left: 100%;
   width: auto;
   flex-direction: column;
   align-items: center;
   transform: rotateY(90deg);
   transform-origin: left;
}

.surface__size::before,
.surface__size::after {
    content: "";
    flex-grow: 1;
    justify-content: space-between;
}

.surface__size-text {
    max-width: 100%;
}
.surface[data-is-editing='true'] .surface__size-text {
    display: none;
}

.surface__size--vertical .surface__size-text {
  display: flex;
  justify-content: center;
  transform: rotateZ(-90deg);
}

.size-input {
    max-width: 100%;
    font: inherit;
    line-height: 1;
}

.size-input:focus {
    outline: 2px solid rgba(0,0,0,.5);
}

.surface__size-input {
    display: none;
}

.surface[data-is-editing='true'] .surface__size-input {
    display: block;
}

.config__size-input {
    margin: 0 3px 3px 0;
}


/* Patterns
------------------------------ */
.chooser {
    min-width: 140px;
    margin-bottom: 50px;
}

.chooser__list-title {
    margin: 0;
    margin-top: 8px;
    border-bottom: 1px solid #DDD;
}

.chooser__list {
    width: 100%;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.chooser__item {
    width: 30px;
    height: 30px;
    margin: 0 6px 6px 0;
    cursor: pointer;
}

.config .chooser__item {
    width: 100%;
    height: auto;
}

.chooser__item--current {
    outline: 2px solid #333;
    outline-offset: 2px;
}


/* Rotator
------------------------------ */
.rotator {
    width: 100%;
    margin-top: 150px;
    text-align: center;
}


/* Card
------------------------------ */
.goods {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    max-width: 150px;
    margin: 0 2px 4px;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 10px;
}
