HTML, BODY {
    height: 100%;
}

BODY {
    margin: 0;
    font: 16px/1.75 Trebuchet Ms, Arial, sans-serif;
    color: black;
}

H2 {
    margin: 0;
    margin-bottom: 5px;
    font-size: 15px;
}

IMG {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}
