.page {
    perspective: 1500px;
    perspective-origin: center -100px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper {
    /*outline: 2px solid red;*/
    margin: auto;
    display: flex;
    justify-content: center;
    transform-style: preserve-3d;
}

.content {
    margin: 0 32px;
    flex-shrink: 0;
    flex-grow: 1;
    /*outline: 1px solid green;*/
}

.aside {
    /*outline: 1px solid red;*/
}

.aside--sizes {
    display: none;
}

.block {
    display: flex;
    transform-style: preserve-3d;
}
.block--empty {
    transform: none !important;
}

.rotator {
    position: relative;
    width: 100%;
    margin-top: 200px;
    text-align: center;
}
